SUPABASE_URL=https://uzdlqrjukjwavdfuhoui.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZGxxcmp1a2p3YXZkZnVob3VpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwODM3MDMsImV4cCI6MjA5NDY1OTcwM30.sqA9AXvo7bZECe6RTZeWPQCGngANGL7ThLp4tf98Nbs
GROQ_API_KEY=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
ENVIRONMENT=development